.userOffersPage {
  display: grid;
  grid-template-rows: 30px 100px 1fr 60px;
  min-height: 100vh; /* прижимает footer к низу */
}

.productPage_photo {
	object-fit: contain;
	height: 100%
}

.clientPage__container_bottom {
  padding: 0 32px;
}

.clientPage {
  // height: 100%;
  // min-height: 100vh;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 220px 1014px 1fr;
  grid-template-rows: 50px auto;
  grid-column-gap: 24px;
  grid-row-gap: 32px;

  &__breadcrumbs {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    align-items: flex-end;
  }

  &__menu {
    position: sticky;
    height: min-content;
    top: 100px;
    grid-area: 2 / 2 / 3 / 3;
    padding: 21px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000001a;
    transition: all 350ms ease-in-out;
    background: $ts;

    & > * {
      margin: 21px 0;
    }
  }

  &__userinfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__input-profile {
    border: 0;
  }

  &__userpic {
    position: relative;
    width: 80px;
    height: 80px;
    min-height: 80px;
    border-radius: 50%;
    /* background: no-repeat center center url(../icons/userPhotoPlaceholder.svg); */
    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__userinitials {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: $ts;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 35px;
    text-shadow: 0 0 1px $ts;
    box-shadow: inset 0px 0px 6px #2c2c2c31;
  }

  &__username {
    margin: 8px 0;
  }

  &__userrate {
    width: 100%;
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__num {
      margin: 5px;
    }
  }

  &__userstats {
    margin-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__container {
    width: 100%;
    grid-area: 2 / 3 / 4 / 4;
    padding-bottom: 32px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000001a;
    transition: all 350ms ease-in-out;
    background: $ts;

    &_top {
      position: sticky;
      top: 65px;
      background-color: $ts;
      z-index: 1;
      padding: 0 32px;
      border-radius: 8px 8px 0 0;
      z-index: 2;
    }

    &_nav {
      width: 100%;
      padding: 24px 0 15px 0;
      margin: 0 0 5px 0;
      border-bottom: 2px solid $light;

      &__wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        margin: 0 0 28px 0;
        white-space: nowrap;
      }

      &__radio {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0 0 14px 4px;
        &_end {
          position: absolute;
          right: -15px;
          width: 120px;
        }
        & a {
          font-size: 12px;
          line-height: 14px;
          color: $tpsl;
          margin-right: 6px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
          &:nth-of-type(1) {
            padding-left: 15px;
          }
        }

        & div {
          display: inline;
        }
      }

			&__title {
				font-weight: 500;
				font-size: 14px;
				padding: 0;
				// грязный хак, чтобы подчёркивание по центру было
				transform: translateY(12.5%);
			}

      & > * {
        margin: 0 40px 0 0;
        padding: 0px 0 16px 0;
        font-size: 18px;
        color: $tpsl;
        transition: all 200ms ease-in-out;
        /* border-bottom: 2px solid $light; */

        &:last-child {
          margin: 0;
        }

        &:hover {
          transition: all 200ms ease-in-out;
          color: $tpl;
        }
      }
    }

    &_content {
      width: 100%;
      // padding: 0 32px;
    }
  }
  &__placeholder {
    &-container {
      width: 100%;
      margin-top: 148px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-title {
      font-size: 14px;
      color: #5a5a5a;
      font-weight: 500;
      margin-bottom: 35px;
    }
    &-ads {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      // width: 314px;
    }
    &-item {
      width: 94px;
      height: 126px;
      background: #ffffff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 1px;
      padding: 3px 3px;

      &:nth-child(2n) {
        margin: 0 16px;
      }
      &-1 {
        width: 88px;
        height: 88px;
        background-color: #e9e9e9;
        border-radius: 1px;
        margin: 0 auto 2px;
      }
      &-2 {
        width: 38px;
        height: 14px;
        background-color: #e9e9e9;
        // margin-bottom: 2px;
        margin: 0 auto 2px;
      }
      &-3 {
        width: 86px;
        height: 14px;
        background-color: #e9e9e9;
        margin: 0 auto;
      }
    }
  }
}

.navActive {
  border-bottom: 4px solid $primeyellow;
  color: $tp;
}

.addPhoto {
  position: absolute;
  top: 0;
  right: 0;
  background: no-repeat url(../icons/camera.svg);
  width: 24px;
  height: 24px;
  transition: all 350ms ease-in-out;

	&:hover {
		cursor: pointer;
		transition: all 350ms ease-in-out;
		transform: scale(1.2);
	}
}

.user-info {
	display: grid;
	grid-template-columns: 100%;
	gap: 2.5em;

	&__form {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		border-bottom: 1px solid hsl(0, 0%, 91%);

		&--social {
			& .user-info__button {
				padding: 0 1em;
			}
		}

		&--password {
			& input {
				width: 230px;
			}
		}

		&--erase {
			& span {
				color: hsl(0, 0%, 56%);
				flex: 1 0 auto;
			}
		}
	}

	&__section {
		display: grid;
		grid-template-columns: 250px 1fr;
		align-items: center;
		
		&--social {
			padding-bottom: 0.25em;
		}

		&--phone {
			& label {
				align-self: baseline;
			}

			& span {
				padding-bottom: 1em;
			}

			& button {
				max-width: 160px;
				max-height: 44px;
			}
		}

		&--address {
			padding-bottom: 1em;

			& .user-info__content {
				flex-flow : row nowrap;
				gap: 2em;

				& .user-info__section {
					grid-template-columns: 1fr;
					padding-bottom: 0;
				}

				& label {
					position: absolute;
					color: hsl(0, 0%, 17%);
				}
			}
		}
	}

	&__heading {
		font-size: 20px;
		font-weight: normal;
		padding-bottom: 1em;
	}

	&__content {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		width: 480px;
	}
	
	&__label {
		flex: 0 0 200px;
		color: hsl(0, 0%, 55%);
	}

	&__button {
		max-width: 160px;
	}

	&__phone-number {

	}

	&__phone-link {
		color: hsl(184, 100%, 34%);
	}

	&__device {
		color: hsl(0, 0%, 17%);
	}

	&__visit {
		color: hsl(0, 0%, 65%);
	}

	@media (min-width: 1024px) {
		&__section {
			padding-bottom: 1em;
		}
	}
}

.social {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1em;

	& > * {
		flex-basis: 180px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 24px;
		padding-left: 2.5em;

		&--vk {
			background: no-repeat left center url("../icons/vk_r_color.svg");
		}
		&--inst {
			background: no-repeat left center url("../icons/ig_r_color.svg");
		}
		&--fb {
			background: no-repeat left center url("../icons/fb_r_color.svg");
		}
		&--ok {
			background: no-repeat left center url("../icons/ok_r_color.svg");
		}
	}

	// &__link {}
}

.userInfoStats {
  margin-top: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userInfoReviews,
.userInfoSubscribers,
.userInfoSubscribtions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfoReviews:hover,
.userInfoSubscribers:hover,
.userInfoSubscribtions:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .clientPage {
    grid-template-columns: 1fr 220px 775px 1fr;
  }
}

@media (max-width: 1080px) {
  .clientPage {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .clientPage__container_top,
    .clientPage__container_bottom {
      padding: 0;
    }

    &__breadcrumbs {
      display: none;
    }

    &__menu {
      grid-area: 1 / 1 / 1 / 1;
      border-radius: 0;
      box-shadow: none;
      padding: 21px 10px 0 10px;
      position: relative;
      top: 0;
      margin-bottom: 40px;

      &:hover {
        box-shadow: none;
      }
    }

    &__container {
      grid-area: 2 / 1 / 2 / 3;
      border-radius: 0;
      box-shadow: none;
      padding: 0px 12px 12px;

      &_nav {
        padding: 0 0 0px 0;
        display: flex;
        justify-content: space-between;
        & > * {
          margin-right: 0px;
          width: 100%;
          padding-bottom: 8px;
          text-align: center;
        }
      }

      &:hover {
        box-shadow: none;
      }
    }

    &__userstats {
      max-width: 204px;
    }
    &__container_top {
      position: relative;
      box-shadow: none;
      top: 0;
    }
  }

  .userMenuContainer {
    display: none;
  }
}

@media (max-width: 1080px) {
  .clientPage__placeholder-container {
    margin-top: 50px;
  }
}

@media (max-width: 1024px) {
  .clientPage__menu > * {
    margin: 0 0 21px 0 !important;
  }
  .clientPage__menu {
    padding: 10px !important;
  }

  .userOffersPage {
    grid-template-rows: auto;
    grid-template-columns: 100%;
  }
  .reviewsContainer {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .reviewsContainer {
    grid-template-columns: 1.5fr 2fr;
  }
}

@media (max-width: 520px) {
  .clientPage__container_nav > * {
    font-size: 14px;
		padding: 0;
  }
}

@media (max-width: 450px) {
  .reviewsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 368px;
  }
}

@media (max-width: 350px) {
  .clientPage__placeholder-item:nth-child(2n) {
    margin: 0 8px;
  }
  .clientPage__placeholder-title {
    font-size: 13px;
  }
}
