.offerContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 0 32px 0;
  height: 184px;
  cursor: pointer;
  position: relative;
  color: $tp;
}

.offerImage {
  background: no-repeat center center url(../../../icons/photocard_placeholder.svg);
  background-size: cover;
  width: 100%;
  height: 184px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.offerImage img {
  user-select: none;
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.offerDescription {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  overflow: overlay;
  position: relative;
}

.offerDescriptionTop {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.offerDTLeft {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.offerDTRight a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.offerDTRight a {
  color: #00a0ab;
}

.offerDTRight {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.offerDTRight .offerDTRight__item {
	margin-bottom: 14px;
}

.offerTitle,
.offerDatPub {
  padding: 8px 0;
}

.offerUnpublish {
  background: none;
  margin-top: 12px;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    transition: all 200ms ease-in-out;
    color: $primelight;
    text-decoration: underline;
  }
}

.offerDescriptionBottom {
  width: 100%;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
}

.offerButtonViews {
  align-self: center;
}

.offerEdit {
  width: 125px;
  text-align: right;
}

.offerSocialCount {
  display: flex;
  flex-direction: row;
}

.offerSocialCountPos {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-weight: 400;
  color: #5a5a5a;
}

.offerSocialCountPosActive {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: auto;
}
.offerSocialCountLeft{
  // left: 5px !important
}

.offerSocialAction {
  color: #52b9c5;
  &:hover {
    text-decoration: underline;
  }
}

.offerShowes,
.offerAddFavores {
  width: 55px;
  margin: 20px 0px 0px 20px;
  text-align: left;
  line-height: 24px;
}

.offerPubCheck {
  align-self: start;
  position: absolute;
  top: 4px;
  left: 4px;
}

.offerWaitCause {
  width: 80%;
  padding: 4px 0;
  text-align: center;
  border-radius: 8px;
  position: relative;
  bottom: 50px;
  background-color: #2c2c2cb6;
  display: inline;
}

.offerActivate {
  width: 112px;
  text-align: right;
}

.offerDelete {
  width: 72px;
  text-align: right;
}

.offerCauses {
  padding-bottom: 20px;
}

.phOffers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phOffers > * {
  margin: 18px 0;
}

.phContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.phCard {
  box-shadow: 0px 0px 20px #0000001a;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
  margin: 0 8px;
}

.phCardPhoto {
  width: 88px;
  height: 88px;
  border-radius: 1px;
  background-color: $light;
}

.phCardTitle {
  width: 38px;
  height: 14px;
  background-color: $light;
  margin: 2px 0;
}

.phCardSubtitle {
  width: 100%;
  height: 14px;
  background-color: $light;
}

@media (max-width: 1080px) {
  .offerDTLeft {
    align-self: flex-end;
  }
  .offerDescription {
    padding: 0 8px;
  }
  .offerTitle,
  .offerDatPub {
    padding: 0;
  }

  .offerTitle,
  .offerDatPub {
    padding-bottom: 0;
    margin-top: 8px;
  }


  .offerDatPub > div{
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .offerLastDays{
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .offerSocialCountPos {
    top: 10px;
    left: 0px;
    flex-direction: column;
    margin-top: 0;
    height: 48px;
    width: 63px;
  }
  .offerShowes,
  .offerAddFavores {
    margin-top: 0;
    margin-left: 0;
  }
  .offerCauses {
    padding-bottom: 8px;
    position: absolute;
    top: 80px;
  }
}

@media (max-width: 1024px) {
  .offerDescription {
    padding: 0 8px;
  }

  // .DatPub__mobile span {
  //   display: none;
  // }
}

@media (max-width: 750px) {
  .offerDTRight {
    padding-top: 8px;
  }
}

@media (max-width: 639px) {
  .offerWaitBigName{
    bottom: 45px
  }
}


@media (max-width: 600px) {
  .offerContainer {
    grid-template-columns: 1fr 2fr;
  }
  .offerDate-sales{
    display: none;
  }
}

@media (max-width: 450px) {
  .offerContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 368px;
  }
  .offerDate{
    display: none;
  }
  .offerWaitBigName{
    bottom: 30px
  }
}
