.btnSubscribe {
  width: 203px;
  height: 24px;
  color: #000;
  background-color: #e9e9e9;
  margin: 42px 0px;
  border-radius: 8px;
  cursor: pointer;
}
.userActive {
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 500;
  margin-right: 5px;
}

.userIconBlock {
  width: 20px;
  text-align: center;
}

.btnActive {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.userProduct {
  max-width: 720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

// .userProductItem {
//   width: 224px;
//   height: 366px;
//   margin: 0 24px 24px;
//   & > div.card {
//     border-radius: 8px;
//   }
// }

// .sold {
//   opacity: 0.4;
// }
