.card{
    width: 100%;
    height: 368px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
    position: relative;
    cursor: pointer;

    &:hover &__top_info_left{
        transform: translateY(0);
        transition: 100ms ease-in-out;
    }
    &:hover &__top_info_right .card_compare{
        transform: translateX(0);
        transition: 110ms ease-in-out;
    }
    &:hover &__top_info_right .card_like{
        transform: translateX(0);
        transition: 180ms ease-in-out;
    }

    &__lg{
        grid-column-start: span 2;
    }

    &__wrapper{
        border-radius: 8px;
        background: $ts;

        &-yellow{
            background: $primeyellow;
        }
    }

    &__top{
            height: 260px;
            overflow: hidden;
            position: relative;

        &_seen{
            position: absolute;
            background: rgba(44, 44, 44, 0.74);
            border-radius: 8px;
            font-size: 12px;
            font-weight: 400;
            color: $ts;
            padding: 5px 8px;
            margin: auto;
            left: 0;
            top: 12px;
            right: 0;
            width: 94px;
            z-index: 10;
        }

        &_slider{
            display: flex;
            justify-content: center;
            height: 100%;
            display: inline-grid;
            z-index: 0;
            position: relative;

            & img{
                width: 100%;
                min-width: 100%;
                object-fit: cover;
                object-position: center;
                height: 100%;
            }
        }

        &_info{

            &_left{
                position: absolute;
                left: 12px;
                bottom: 34px;
                display: flex;
                transform: translateY(100px);
                transition: 100ms ease-in-out;

                & .card_comment{
                    display: block;
                    width: 24px;
                    height: 24px;
                    background: url(../../icons/notif_dark.svg) center no-repeat;
                    margin-right: 12px;
                    cursor: pointer;

                    &:hover{
                        background: url(../../icons/notif_green.svg) center no-repeat;
                    }
                }

                & .card_call{
                    display: block;
                    width: 24px;
                    height: 24px;
                    background: url(../../icons/phone_dark.svg) center no-repeat;
                    cursor: pointer;
                    &:hover{
                        background: url(../../icons/phone_green.svg) center no-repeat;
                    }
                }
            }

            &_right{
                position: absolute;
                bottom: 34px;
                right: 12px;
                
                & .card_compare{
                    display: block;
                    width: 24px;
                    height: 24px;
                    background: url(../../icons/compare_dark.svg) center no-repeat;
                    margin-bottom: 12px;
                    cursor: pointer;
                    transform: translateX(100px);
                    transition: 110ms ease-in-out;

                    &:hover{
                        background: url(../../icons/compare_o_green.svg) center no-repeat;
                    }
                }

                & .card_like{
                    display: block;
                    width: 24px;
                    height: 24px;
                    background: url(../../icons/like_dark.svg) center no-repeat;
                    cursor: pointer;
                    transform: translateX(100px);
                    transition: 180ms ease-in-out;

                    &:hover{
                        background: url(../../icons/like_o_green.svg) center no-repeat;
                    }
                }
            }
        }
    }

    &__bottom{
        padding: 2px 12px 12px;
        
        &_info{
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            min-height: 42px;
            
            &_left{
                display: flex;
                flex-direction: column;

                & .old__price{
                    position: relative;
                    font-size: 14px;
                    color: $tpl;
                    font-weight: 400;
                    padding-left: 3px;
                    text-decoration: line-through;
                }

                & .new__price{
                    font-size: 22px;
                    color: $tp;
                    font-weight: 700;
                }
            }

            &_right{
                display: flex;

                & .card_delivery{
                    display: block;
                    width: 24px;
                    height: 24px;
                    background: url(../../icons/delivery_grey.svg) no-repeat center ; 

                    &-green{
                        background: url(../../icons/delivery_green.svg) center no-repeat;
                    }
                }

                & .card_secure{
                    display: block;
                    width: 24px;
                    height: 24px;
                    background: url(../../icons/defense_grey.svg) center no-repeat;
                    margin-left: 8px;

                    &-green{
                        background: url(../../icons/defense_green.svg) center no-repeat;
                    }
                }
            }

            &_middle{
                font-size: 14px;
                color: $tp;
                font-weight: 500;
                margin-bottom: 14px;
            }

            &_footer{
                font-size: 12px;
                font-weight: 400;
                color: $tpsl;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.card__top_slider .swiper-container .swiper-slide{
    width: 100% !important;
    height: auto !important;
}

.card__top_slider  .swiper-pagination{
    z-index: 100;
    position: absolute;
    display: flex;
    bottom: 4px;
    width: 100%;
    justify-content: center;
}

.card__top_slider .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    display: block;
    background: $greyl;
    border: 1px solid $tpl;
    border-radius: 50%;
    margin: 0 4px;
}

.card__top_slider .swiper-pagination-bullet-active{
    background: $prime;
}

@media (max-width: 483px) {
    .card__lg {
        grid-column-start: span 1;
    }
  }