.MuiDrawer-paper{
    border-radius: 0px 10px 10px 0;
}

.burgerTitle{
    margin: 26px 0px 25px 77px;
    color: #2C2C2C;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    &::before{
        content: "";
        background-color: #C7C7C7;
        border-radius: 10px;
        width: 18px;
        height: 3px;
        position: absolute;
        top: 8px;
        left: -30px;
        transform: rotate(45deg)
    }
    &::after{
        content: "";
        background-color:#C7C7C7;
        border-radius: 10px;
        width: 18px;
        height: 3px;
        position: absolute;
        top: 8px;
        left: -30px;
        transform: rotate(-45deg)
    }
}

.burgerContainer{
    padding: 0 8px ! important;
    border-radius: 10px;
    & > div > div {
        border-radius: 2px;
    }
}

.burgerList {
    padding-left: 37px !important;
    height: 32px;
    & > .MuiListItemIcon-root{
        min-width: 32px;
    }
}

.pl-1{
    padding-left: 74px !important;
}
.pl-2{
    padding-left: 110px !important;
}

.burgerItem > span{
    color: #2C2C2C;
    font-weight: 500;
    font-size: 14px;
    font-family: "Roboto";
}

.burgerItemActive > span {
    color: #00A0AB
}

.burgerLink {
    color: #00A0AB;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
}