.form {
	display: grid;
	grid-template-columns: 100%;
	width: 100%;
	gap: 25px;

	&__section {
		display: grid;
		grid-template: 
			"label content" auto / auto 1fr;
		align-items: center;

		&--password {
			& .form__content {
				position: relative;
				transition-duration: 250ms;
				transition-property: background;
				
				& .form__button {
					position: absolute;
					right: 0.125em;
					width: 18px;
					height: 18px;
					background: no-repeat center center url("../../icons/invisible.svg");
					border: none;
				}

				&--visible {
					& .form__button {
						background: no-repeat center center url("../../icons/visible.svg");
					}
				}
			}
		}
	}

	&__label {
		grid-area: label;
		justify-self: flex-start;
		display: inline-block;
		cursor: pointer;
	}

	&__content {
		grid-area: content;
	}

	&__input {
		box-sizing: border-box;
		min-width: 44px;
		min-height: 39px;
		width: 100%;
		font-family: inherit;
		font-size: 100%;
		border-radius: 4px;
		border: 1px solid hsl(0, 0%, 78%);
		padding: 0.5em;
		margin: 0;
	}

	// TODO: перенести в `.button`
	&__button {
		box-sizing: border-box;
		display: inline-block;
		min-width: 44px;
		min-height: 39px;
		width: 100%;
		font-family: inherit;
		font-size: 100%;
		border-radius: 4px;
		border: 1px solid hsl(0, 0%, 78%);
		padding: 0;
		margin: 0;
		cursor: pointer;

		&--button {
			border-color: hsl(0, 0%, 78%);
			background-color: hsl(0, 0%, 100%);
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}



	&__submit {
		grid-area: content;
		justify-self: baseline;
		width: auto;
		min-height: 0;
		color: hsl(184, 100%, 34%);
		background-color: transparent;
		border-radius: 0;
		border: none;
	}
}

.nav-button {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	gap: 1em;
	width: auto;
	min-height: 39px;
	font-family: inherit;
	font-size: 100%;
	color: black;
	background-color: hsl(0, 0%, 100%);
	border-radius: 5px;
	border: 1px solid hsl(0, 0%, 78%);
	padding: 1em;
	cursor: pointer;

	&__text {}

	&__arrow {
		justify-self: flex-end;
		align-self: center;
	}
}