.header {
    width: 100%;
    position: sticky;
    top: 0;
    align-self: start;
    background: $ts;
    -webkit-backface-visibility: hidden;
    z-index: 3;
    height: 80px;
  }
  
  .headerMobileLeftMenu {
    display: none;
  }
  
  .header::before {
    content: "";
    display: block;
    height: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    -webkit-position: sticky;
    background: transparent;
    z-index: -1;
  }
  
  .header::before {
    top: 70px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  }
  
  .header::after {
    background: linear-gradient(white 10%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 70%, transparent);
    top: 0;
  }
  .headerShadowHide {
    margin-left: auto;
    margin-right: auto;
    background: $ts;
    width: 100%;
    height: 75px;
    z-index: 1;
    padding: 0 12px;
  }
  .authComponent {
    clear: both;
  }
  
  .burger__menu {
    display: none;
    width: 32px;
    height: 32px;
    background: $prime;
    border-radius: 4px;
    align-items: center;
    padding: 0 3px;
    cursor: pointer;
  }
  
  .burger__menu span {
    width: 100%;
    height: 2px;
    background: $ts;
    border-radius: 5px;
  }
  
  .burger__menu span::after,
  .burger__menu span::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: $ts;
  }
  
  .burger__menu span::after {
    transform: translateY(-10px);
  }
  
  .burger__menu span::before {
    transform: translateY(8px);
  }
  
  .filter__burger {
    display: none;
  }
  .headerMobileRightMenu {
    cursor: pointer;
  }
  
  .headerMobileRightMenu {
    display: none;
  }
  .logo {
    width: 100px;
  }
  
  .headerShadowHideSettings::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    -webkit-position: sticky;
    background: transparent;
    z-index: -1;
  }
  
  .headerShadowHideSettings {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 1;
  }
  
  .onlyPhoto {
    font-size: 12px;
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: $tpml;
  }
  
  .onlyPhotoRadio,
  .onlyPhotoTitle,
  .safeDealRadio,
  .safeDealTitle,
  .saveSearchRadio,
  .saveSearchTitle {
    display: inline-block;
  }
  .onlyPhotoTitle,
  .safeDealTitle{
    padding-right: 30px;
  }
  .onlyPhotoTitle,
  .safeDealTitle,
  .saveSearchTitle {
    position: relative;
    bottom: 3px;
    margin-left: 2px;
  }
  
  .onlyPhotoRadio,
  .safeDealRadio,
  .saveSearchRadio {
    border: none;
    background-color: transparent;
    outline: none;
  }
  
  .mainSearchRadioTrue {
    position: relative;
    right: 15px;
  }
  
  .safeDeal {
    font-size: 12px;
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: $tpml;
  }
  
  .saveSearch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: $tpml;
    margin-left: auto;
  }
  
  .searchBack {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    outline: none;
    border: none;
    z-index: 2;
  }
  
  .createOfferLink {
    color: $ts;
    outline: none;
    text-decoration: none;
  }
  
  .searchSettingsButtons {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 5px;
    display: flex;
  }
  
  .checkerPhoneBack {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $tp;
    background-size: cover;
    opacity: 0.74;
    outline: none;
    border: none;
    overflow: hidden;
    z-index: 1;
  }
  
  .headerShadowHide {
    width: 100%;
    margin: auto;
    background: $ts;
    justify-content: center;
  }
  
  .headerMainContainer {
    display: flex;
    max-width: 1248px;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .categories {
    width: 222px;
    padding: 8px 15px;
    background-color: $prime;
    display: flex;
    height: 32px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 26px;
    flex-shrink: 0;
  }
  
  .categoriesTitle {
    color: $ts;
    font-size: 14px;
    font-weight: 500;
  }
  
  .mainSearch__block {
    position: relative;
    width: 100%;
    margin-left: 25px;
  }
  
  .mainSearch {
    background: none;
    border: 1px solid $tpl;
    border-radius: 8px;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .mainSearchInput {
    border: none;
    padding: 8px 0;
    background: none;
    width: 90%;
  }
  
  .mainSearchInput::placeholder {
    color: $tpml;
  }
  
  .authHeader {
    background: $light;
    color: $tp;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    height: 32px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 24px;
  }
  
  .categories,
  .mainSearch,
  .createDeal,
  .authHeader {
    margin-bottom: 4px;
  }

  .createDeal {
    width: 196px;
    height: 32px;
    background: $prime;
    border-radius: 8px;
    margin-left: 24px;
    flex-shrink: 0;
  }
  
  .createDeal a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .createDealTitle {
    font-weight: 500;
    font-size: 14px;
    color: $ts;
  }
  
  
  @media screen and (max-width: 1365px) {
    .headerMainContainer {
      max-width: 1024px;
    }

    .categories{
      width: 176px;
    }

    .mainSearch {
      width: 400px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .header {
      height: 110px;
    }
  
    .headerShadowHide {
      height: auto;
    }
  
    .headerMainContainer {
      flex-wrap: wrap;
      align-items: center;
    }
  
    .headerMainContainer .userPic {
      display: none !important;
    }
  
    .headerMobileLeftMenu {
      display: block;
      width: 20%;
      margin-bottom: 12px;
    }
  
    .burger__menu {
      order: 1;
      display: flex;
    }
  
    .categories {
      display: none;
    }
  
    .categories,
    .mainSearch,
    .createDeal,
    .authHeader {
      margin-bottom: 0px;
    }
  
    .searchSettingsButtons {
      display: none !important;
    }
  
    .headerMainContainer > a {
      order: 2;
      width: 60%;
      display: flex;
      justify-content: center;
      margin-bottom: 12px;
    }
  
    .headerMobileRightMenu {
      order: 3;
      width: 20%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 12px;
      background: none;
      padding: 0;
    }
  
    .mainSearch__block {
      margin-left: 0;
      width: auto;
      order: 4;
      flex-grow: 2;
    }
  
    .mainSearch {
      width: 100%;
    }

    .filter__burger {
      order: 5;
    }

    .createDeal {
      order: 6;
      margin-left: 12px;
    }
  
    .authHeader {
      display: none !important;
    }
  
    /* Стили для бурегра фильтра */
    .filter__burger {
      width: 32px;
      height: 32px;
      position: relative;
      margin-left: 12px;
      cursor: pointer;
    }
  
    .filter__burger span {
      position: absolute;
      font-size: 10px;
      font-weight: 500;
      top: 2px;
      right: 1px;
      color: $ts;
      display: flex;
      width: 14px;
      height: 14px;
      align-content: center;
      justify-content: center;
    }
  
    .filter__burger-no_active {
      display: block;
      background: url(../../icons/filters.svg) no-repeat center;
    }
  
    .filter__burger-active {
      display: block;
      background: url(../../icons/filters_applied.svg) no-repeat center;
    }
    /* конец */
  }
  
  @media screen and (max-width: 719px) {
    .createDeal {
      display: none;
    }
  }
  
  @media screen and (max-width: 340px) {
    .mainSearch {
      padding: 0px 16px;
    }
  }