.signUp {
  width: 1248px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: 25px auto auto;
  grid-template-columns: auto 720px auto;
  height: 0;
  z-index: 4;
}
.signUpmainContainer {
  display: grid;
  width: 1248px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: 50px auto auto;
  grid-template-columns: auto 698px auto;
  height: 0;
}
.signUpBody {
  display: grid;
  grid-template-columns: 90px 620px 45px ;
}
.signUpBack {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $tp;
  background-size: cover;
  opacity: 0.74;
  outline: none;
  border: none;
  overflow: hidden;
  z-index: 1;
}

.closeIconSignUp {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  z-index: 2;

}
.closeIconBtn {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(59, 59, 59, 0.5);
  border-radius: 64px;
  border: none;
  outline: none;
  user-select: none;
  z-index: 2;
}

.signUpContainer {
  text-align: center;
  left: 0%;
  bottom: 0px;
  box-shadow: 0 0 10px rgba(59, 59, 59, 0.5);
  border-radius: 10px;
  width: 610px;
  height: 569px;
  user-select: none;
  background-color: $ts;
  z-index: 2;
}
.signUpFormContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.signUpTitle {
  position: relative;
  margin-top: 25px;
  font-size: 22px;
}
.namePlate,
.surnamePlate,
.phonePlate,
.passwordPlate,
.passwordRepeatPlate {
  position: relative;
  margin-top: 30px;
  width: 296px;
  height: 30px;
  border: 1px solid $tpml;
  border-radius: 8px;
  outline: none;
  /* box-shadow: 0 2px 2px rgba(214, 214, 214, 0.5); */
}

.name,
.surname,
.phoneSignUp {
  font-size: 14px;
  position: relative;
  font-size: 14px;
  width: 260px;
  height: 27px;
  border: none;
  outline: none;
}
.passwordSignUp,
.passwordRepeat {
  font-size: 14px;
  position: relative;
  left: 5px;
  width: 230px;
  height: 22px;
  bottom: 5px;
  border: none;
  outline: none;
}
.name::placeholder,
.surname::placeholder,
.phoneSignUp::placeholder,
.password::placeholder,
.passwordRepeat::placeholder {
  position: relative;
  color: $tpsl;
}
.subSignUp {
  font-size: 14px;
  color: $ts;
  background-color: $prime;
  width: 299px;
  height: 32px;
  margin-top: 25px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}
.unSubSignUp {
  font-size: 14px;
  color: $ts;
  background-color: $inactive;
  width: 299px;
  height: 32px;
  margin-top: 25px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}
.unSubSignUpTitle {
  position: relative;
  top: 7px;
}
.license,
.licenseLink {
  position: relative;
  color: $tpml;
  font-size: 14px;
}
.alreadySign {
  position: relative;
  font-size: 14px;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  color: $tpml;
}
.signInBtn {
  font-size: 18px;
  position: relative;
  width: 64px;
  height: 34px;
  outline: none;
  border: none;
  text-decoration: underline;
  color: $prime;
  background-color: $ts;
  cursor: pointer;
}
.eyeCloseSignUp, .eyeOpenSignUp {
  position: relative;
  height: 27px;
  background-color: $ts;
  border: none;
  outline: none;
  top: 2px;
  left: 8px;
  cursor: pointer;
  z-index: 3;
}
.eyeCloseSignUp1, .eyeOpenSignUp1 {
  position: relative;
  height: 27px;
  background-color: $ts;
  border: none;
  outline: none;
  top: 2px;
  left: 5px;
  cursor: pointer;
}
.checkСorrectnessPassword {
  color: $primered;
  font-size: 12px;
  text-align: left;
  position: relative;
  top: 10px;
}
.minEightSym, .onlyLatin, .minNumOne, .minRegOne {
  position: relative;
  margin-top: 4px;
}