 /* Звёздный рейтинг */
 .rating .stars {
    position: relative;
    display: block;
    float: left;
    height: 24px;
    width: 120px;
    background-image: url(../../icons/stars.svg);
    background-position: 0 0;
    background-repeat: repeat-x;
    /* margin-right: 5px; */
  }
  
  .rating .stars .on {
    height: 24px;
    background-image: url(../../icons/stars.svg);
    background-position: 0 -24px;
  }
  
  .rating .stars .live {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating .stars .live span {
    display: block;
    float: left;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url(../../icons/stars.svg);
    background-repeat: no-repeat;
    background-position: 0 -24px;
   
  }


  /* активный рейтинг */
  .rating_wrapper {
    overflow: hidden;
    height: 24px;
    width: 120px;
    position: relative;
    &:not(:checked) > input {
      display: none;
    }
    &:not(:checked) > label {
      float: right;
      cursor: pointer;
      height: 24px;
      width: 24px;
      background-image: url(../../icons/stars.svg);
      background-position: 0 0;
      background-repeat: repeat-x;
    }
    &:not(:checked) > label:before {
      content: "";
      position: absolute;
    }
    & .starTwo_label:before  {
      left: 24px;
    }
    & .starThree_label:before  {
      left: 48px;
    }
    & .starFour_label:before  {
      left: 72px;
    }
    & .starOne_label:before  {
      left: 96px;
    }
    & > input:checked ~ label {
      height: 24px;
      width: 24px;
      background-image: url(../../icons/stars.svg);
      background-repeat: no-repeat;
      background-position: 0 -24px;
    }
    &:not(:checked) > label:hover,
    &:not(:checked) > label:hover ~ label {
      background-image: url(../../icons/stars.svg);
      background-repeat: no-repeat;
      background-position: 0 -24px;
    }
  }
  