.about {
  display: grid;
  grid-template-rows: auto auto auto;
  user-select: none;
  overflow: hidden;
}
.aboutTitle {
  text-align: center;
}
.text1 {
  font-size: 14px;
  text-align: left;
}
.text2 {
  font-size: 14px;
  text-align: left;
}
.bodyAbout {
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  max-width: 1280px;
}
@media (max-width: 1280px) {
  .bodyAbout {
    max-width: 1048px;
  }
}




