.modal__wrapper_md {
  padding: 8px 12px;
  width: 600px;
}

.accountRatingBox{
  display: flex;
  align-items: center;
}

.accountRaitingNumber{
  margin-right: 4px;
  color: #8F8F8F;
  font-size: 14px;
}

.accountLogout{
  text-align: center;
}

.accountLogoutBtnBox{
  display: flex;
  justify-content: space-between;
  padding: 0 32px 32px;
}


@media ( max-width: 960px) {
  .accountTop{
    display: block;
    flex-direction: column;
  }
  .accountArrowLeft{
	cursor: pointer;
    position: absolute;
    &::after{
      content: "";
      position: absolute;
      top: 21px;
      left: 18px;
      background-color: #C7C7C7;
      width: 12px;
      height: 3px;
      transform: rotate(-45deg);
      border-radius: 5px;
    }

    &::before{
      content: "";
      position: absolute;
      top: 28px;
      left: 18px;
      background-color: #C7C7C7;
      width: 12px;
      height: 3px;
      transform: rotate(45deg);
      border-radius: 5px;
    }
  }
  .accountTitle{
    padding: 16px 0px 27px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
  }
  .accountRatingBox{
    justify-content: center;
  }
  .modal__wrapper_md{
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .modal__block__top{
    border: 0;
    padding-bottom: 0;
  }
    .mobileModalTop{
    display: block;
    flex-direction: column;
  }
  .mobileModalBack{
	cursor: pointer;
    position: absolute;
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 18px;
      background-color: #C7C7C7;
      width: 12px;
      height: 3px;
      transform: rotate(-45deg);
      border-radius: 5px;
    }

    &::before{
      content: "";
      position: absolute;
      top: 7px;
      left: 18px;
      background-color: #C7C7C7;
      width: 12px;
      height: 3px;
      transform: rotate(45deg);
      border-radius: 5px;
    }
  }

  .mobileModalArrow{
    cursor: pointer;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #C7C7C7;
      width: 12px;
      height: 3px;
      transform: rotate(-45deg);
      border-radius: 5px;
    }

    &::before{
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      background-color: #C7C7C7;
      width: 12px;
      height: 3px;
      transform: rotate(45deg);
      border-radius: 5px;
    }
  }

  .modalModalTitleBox {
	//padding: 16px 0px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
	min-height: 64px;
	text-align: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	margin-bottom: 24px;
    position: relative;
  }
  .mobileModalTitle{
    // padding: 16px 0px 27px;
    // text-align: center;
    // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    // margin-bottom: 24px;
  }
  .mobileModalSubtitle {
	color: #8F8F8F;
	font-weight: 500;
	text-align: center;
  }
}

@media (max-width: 400px) {
  .comment__block_top{
    display: block;
  }
  .comment__block_top_main{
    margin-bottom: 5px;
  }
  .accountTitle {
    margin-bottom: 0;
  }
}
