.productModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productModal > div {
  backdrop-filter: blur(8px);
}

.productSliderWrapper {
  max-width: 1248px;
  width: 100%;
  max-height: 680px;
  display: flex;
  flex-direction: column-reverse;
  .swiper-pagination {
    margin-top: 16px;
    display: block;
    color: white;
  }
  & > .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.productSliderItem {
  display: flex;
  justify-content: center;
  height: 100% !important;
}
.productSliderNav {
  margin-top: 29px;
  max-width: 1020px;
  height: 88px;
  & .swiper-wrapper {
    display: flex;
    align-items: center;
    & .swiper-slide {
      width: 100px !important;
    }
  }
}
.productSliderNavItem {
  width: 100px;
  box-sizing: border-box;
  transition: 0.2s all linear;
  margin: 0 1px;
  border-radius: 2px;
}


// .productSliderNav .swiper-slide-thumb-active {
// border: 6px solid #52b9c5;
// }


@media (max-width: 1024px) {
	.productSliderNav {
		max-width: 918px;
	}
}

@media (max-width: 900px) {
	.productSliderNav {
		max-width: 820px;
	}
}