$plCol: #d0edef;

.product__placeholder_loader{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer__placeholder_loader{
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.product__placeholder_title {
    background: $plCol;
    border-radius: 2px;
    height: 25px;
    max-width: 50%;
    margin-bottom: 18px;
}

.product__placeholder_swipers {
    height: 400px;
    background: $plCol;
    // background: linear-gradient(90deg, $tpsl -2%, $plCol 100%), $tpsl;
    border-radius: 2px;
}

.product__placeholder_address {
    background: $plCol;
    // background: linear-gradient(90deg, $tpsl 0%, $plCol 100%), $plCol;
    border-radius: 2px;
    height: 18px;
    margin-top: 32px;
}

.placeholder_product__main_block .productPageDescription{
    min-width: 100%;
}

.product__placeholder_description {
    height: 182px;
    background: $plCol;
    margin-top: 18px;
    margin-bottom: 4px;
}

.product__placeholder_ProductAction_one {
    background: $plCol;
    // background: linear-gradient(90deg, $tpsl 0%, $plCol 100%);
    border-radius: 2px;
    height: 224px;
    margin-top: 50px;
}

.product__placeholder_ProductAction_main{

}

.product__placeholder_ProductAction_two {
    background: $plCol;
    // background: linear-gradient(90deg, $tpsl 0%, $plCol 100%), $plCol;
    border-radius: 2px;
    height: 51px;
    margin-top: 18px;
}

.product__placeholder_ProductAction_two_tow {
    background: $plCol;
    border-radius: 2px;
    height: 33px;
    margin-top: 18px;
}

.product__placeholder_ProductAction_three {
    background: $plCol;
    // background: linear-gradient(90deg, $tpsl 0%, $plCol 100%), $plCol;
    border-radius: 8px;
    margin: 30px 0 32px 0;
    height: 34px;
}

.product__placeholder_userinfo {
    background: $plCol;
    // background: linear-gradient(90deg, $tpsl 0%, $plCol 100%), $plCol;
    border-radius: 2px;
    height: 44px;
}

.product__placeholder_useroffer {
    background: $plCol;
    border-radius: 1px;
    height: 117px;
    width: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 3px;
}

.product__placeholder_useroffer_block-top {
    height: 88px;
    background: $plCol;
    border-radius: 1px;
}

.product__placeholder_useroffer_block-bottom {
    height: 28px;
    background: $plCol;
    border-radius: 1px;
}

.product__placeholder_mobil-action {
    height: 66px;
    background: $plCol;
    border-radius: 2px;
}

.product__placeholder_SellerInfoUserPic {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: $plCol;
    margin-right: 15px;
}

.placeholder_product__main_block .productPageCharacterMapBlock, .placeholder_product__main_block .ad__block_bottom{
    border: none;
}









.placeholder_animation {
    animation-duration: 2s;
    animation-name: placeholder;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media (max-width: 960px) {
    .product__placeholder_title {
        margin-bottom: 4px;
        margin-top: 4px;
    }
}

@keyframes placeholder {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}
