.scrollTop {
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: no-repeat url(../../icons/chevron_ip_light_ttmp.svg);
    // background: no-repeat url(../../icons/chevron_up_light.svg), $ts;
    // border-radius: 50%;
    // box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    // background-position: left 2px top 3px;
    // background-size: contain;
    // background-size: 100% 100%;
    background-position: left -13px top 0px;
    background-size: 150% 150%;
    position: fixed;
    left: 0;
    bottom: 150px;
    transition: all 250ms ease-in-out;
    animation: showST 250ms ease-in-out;
    z-index: 1;
    // &:hover {
        // transition: all 350ms ease-in-out;
        // box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
    // }
}

@keyframes showST {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .scrollTop {
        width: 50px;
        height: 50px;
        bottom: 90px;
    }
}
